.container {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 200px 1fr;
  height: 100vh;
  background: linear-gradient( #ffffff 0%, #41A2D9 45%, #0B60B0 100%);
  color: white;
  font-family: Arial, Helvetica, sans-serif;

}

.header {
  grid-column: 1 / span 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: linear-gradient(rgba(0, 0, 0, 0.8) 0%, rgba(102, 102, 102, 0.8) 100%);

}
  .header h1 {
    margin: 0;
  }

  .nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
  }

  .account {
    display: flex;
    align-items: center;
  }

  .fas {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-left: 10px;
  }

  .sidebar {
    background: linear-gradient(rgba(0, 0, 0, 0.8) 0%, rgba(102, 102, 102, 0.8) 100%);
    padding: 20px;
    margin-top: 10px;
    grid-row: 2;

  }

  .sidebar h2 {
    margin: 0;
  }

  .content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    background-color: #1e4a7b;

    .invest-card {
      background-color: #062030;
      border-radius: 10px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      width: 700px;
      color: white;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);

      .close {
        align-self: flex-end;
        background: none;
        border: none;
        color: white;
        font-size: 20px;
        cursor: pointer;
      }

      .header {
        text-align: center;
        font-size: 14px;
        width: 190px;
        height: 30px;
        background-color: linear-gradient(20deg, #000000, #666666);
      }

      .body {

        justify-content: space-between;
        display: flex;

        .description{
          background-color: rgba(0, 0, 0, 0.4);
          border-radius: 10px;
          padding: 30px;
          flex: 1;
          margin: 0 10px;
          text-align: center;
          width: 300px;
          height: 160px;
        }
        .grafico {
          background-color: rgba(0, 0, 0, 0.4);
          border-radius: 10px;
          padding: 30px;
          flex: 1;
          margin: 0 10px;
          text-align: center;
          width: 460px;
          height: 330px;
        }
      }

      .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .quantidade,
        .preco {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 10px 20px;
          background-color: rgba(0, 0, 0, 0.4);
          border-radius: 10px;
          text-align: center;
          width: 230px;
          height: 65px;

          label {
            font-size: 14px;
            margin-bottom: 5px;
          }

          input {
            width: 50px;
            text-align: center;
          }

          span {
            font-size: 20px;
          }
        }

        .comprar {
          background-color: #007bff;
          color: white;
          padding: 10px 30px;
          border: none;
          border-radius: 20px;
          cursor: pointer;
          font-size: 18px;
          font-weight: bold;
          transition: background-color 0.3s;

          &:hover {
            background-color: #0056b3;
          }
        }
      }
    }
  }
