.header {
  grid-column: 1 / span 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color:rgba(0, 0, 0, 0.9);

  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,0.85) 100%, rgba(102,102,102,0.75) 0%);

  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 1rem;
  border-radius: 8px;

  width: 113rem;
}

.header h1 {
  margin: 0;
}

.nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.account {
  display: flex;
  align-items: center;
}

.user-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fas {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 8px;
}
