<div class="login-container">
  <div class="login-form">
    <h1>Ágora Kosmos</h1>
    <p>Seu portal para o universo dos investimentos.</p>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <label for="email">Email</label>
      <input type="text" id="email" name="email" [(ngModel)]="email" required>

      <label for="password">Senha</label>
      <input type="password" id="password" name="password" [(ngModel)]="password" required>

      <button type="submit">ENTRAR</button>
      <a (click)="goToCadastro()" class="create-account">Abra sua conta gratuita</a>
    </form>
  </div>
  <div class="login-image">
    <img src="/assets/svg/loginimage.svg" alt="Background image">
    <div class="image-text">
      <h2>Investir ficou mais fácil!</h2>
      <p>Gerencie seus investimentos, em qualquer lugar, a qualquer hora.</p>
    </div>
  </div>
</div>
