<div class="container">
  <div class="form">
    <h1>Bem-vindo a Ágora Kosmos</h1>
    <p>Para agilizar a abertura da sua conta, tenha um documento em mãos. Pedimos essa informação apenas por questões regulatórias.
      Não se preocupe, seus dados estão protegidos aqui na Ágora kosmos .</p>
    <form (ngSubmit)="onSubmit()">
      <label for="endereco">Endereço</label>
      <input type="text" id="endereco" name="endereco" required>

      <label for="cidade">Cidade</label>
      <input type="text" id="cidade" name="cidade" required>

      <label for="estado civil">Estado Civil</label>
      <input type="text" id="estadocivil" name="estado civil" required>

      <label for="profissao">Profissão</label>
      <input type="text" id="profissao" name="profissao" required>

      <label for="renda">Renda Mensal</label>
      <input type="text" id="renda" name="renda" required>

      <button type="submit">Cadastrar</button>

    </form>
  </div>
  <div class="image">
    <img src="/assets/svg/cadastro2.jpg" alt="Background image">
    <div class="image-text">
      <h2>Investir ficou mais fácil!</h2>
      <p>Negocie ações, analise carteiras e acompanhe seu progresso com facilidade.</p>
    </div>
  </div>
</div>


