.container {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 200px 1fr;
  height: 100vh;
  background: rgb(65,162,217);
  background: radial-gradient(circle, rgba(65,162,217,1) 24%, rgba(11,96,176,1) 100%);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

.main-content {
  padding: 20px;
  grid-row: 2;
}

.chat-bot-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  top: auto;
  left: auto;
  width: 20rem;
  height: 35rem;
  z-index: 1000;
}

