<div class="container">
  <div class="header">
    <h1>Ágora Kosmos</h1>
    <div class="nav">
      <a href="#">Home</a>
      <a href="/invest">Investir</a>
      <a href="/home">Conta</a>
      <a href="/news">Notícias</a>
    </div>
    <div class="account">
      0,00 R$
      <div>
        <i class="fas fa-user"></i>
      </div>
    </div>
  </div>

  <div class="sidebar">
    <h2>Missões</h2>
  </div>

 <div class="main-content">
  <app-navbar (sectionChange)="onSectionChange($event)"></app-navbar>
  <div *ngIf="selectedSection === 'investimentos'">
    <app-investimentos-component></app-investimentos-component>
  </div>
  <div *ngIf="selectedSection === 'ranking'">
    <app-ranking></app-ranking>
  </div>

    <router-outlet></router-outlet>
  </div>




</div>
