.navbar {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;

  button {
    padding: 10px 20px;
    border: none;
    background-color: #2D3E50;
    color: white;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;

    &.active {
      background-color: #1C2733;
      color: #FFFFFF;
    }

    &:not(.active) {
      background-color: #A0A9B9;
      color: #333;
    }
  }
}
