<mat-card appearance="outlined" class="card-container" style="padding: 10px;">
    <mat-card-title-group>
      <mat-card-title >Transferir dinheiro para a conta Agora Kosmos</mat-card-title>
    </mat-card-title-group>
    <mat-card-content style="padding: auto;">
        <mat-label>Valor (R$)</mat-label>
        <input matInput type="number" [(ngModel)]="quantia" style="margin: 10px;" min="0">
        <br>
      <button mat-flat-button color="primary" (click)="transfereQuantia()">Transferir</button>
    </mat-card-content>
  </mat-card>
  
  