services:
  db_ativos:
    image: postgres:16.2-alpine3.19
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: Ativos

    ports:
      - "5432:5432"
    
    volumes:
      - ../volumes/db_acoes:/var/lib/postgresql/data

  app_ativos:
    build: 
      context: ./images/
      dockerfile: alphavatangeAtivos
      
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=Ativos  
      - POSTGRES_SCHEMA=public
      - POSTGRES_HOST=db_ativos
      - ALPHA_VANTAGE_API_KEY=${ALPHA_VANTAGE_API_KEY}
      - REDIS_HOST=redis
      - REDIS_PORT=6379

    ports:
      - "5000:5000"

    volumes:
      - ../code/back-end/microservices/alphavantage-ativos:/home/app

    depends_on:
      - db_ativos
      - redis

  agora_kosmos:
    build: ../code/back-end/microservices/agoraKosmos

    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=Ativos
      - POSTGRES_SCHEMA=public
      - POSTGRES_HOST=db_ativos
      - REDIS_HOST=redis
      - REDIS_PORT=6379

    ports:
      - "3000:3000"

    volumes:
      - ../code/back-end/microservices/agoraKosmos:/app

    depends_on:
      - db_ativos
      - redis
      - agora_kosmos_noticias

  agora_kosmos_noticias:
    build: ../code/back-end/microservices/agoraKosmosNoticias
    
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=Ativos
      - POSTGRES_SCHEMA=public
      - POSTGRES_HOST=db_ativos
    
    ports:
      - "3001:3000"

    volumes:
      - ../code/back-end/microservices/agoraKosmosNoticias:/app
    depends_on:
      - db_ativos

  redis:
    image: redis:7.2.4-alpine3.19
    ports:
      - "6379:6379"
    
    volumes:
      - ../volumes/redis:/data

  agora_kosmos_frontend:
    build: ../code/front-end/kosmos_frontend
    ports:
      - "4200:4200"
    volumes:
      - ../code/front-end/kosmos_frontend/:/app

    depends_on:
      - agora_kosmos




    

    

