.container {
    display: flex;
    height: 100vh;
    background: radial-gradient(#ffffff 0%, #337ca7 45%, #033c70 100%);
    width: 100%;
}

.form {
flex: 1;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: justify;
padding: 20px;
font-family: Inter, sans-serif;
color: #1E1E1E;
}

.form h1 {
margin-bottom: 10px;
font-size: 24px;
font-family: arial black;
color: white;
text-align: justify;
}

.form p {
width: 500px;
margin-bottom: 10px;
font-size: 14px;
line-height: 1.5;
color: #010101;
font-weight: bolder;
text-align: center;
}

.form form {
display: flex;
flex-direction: column;
width: 100%;
max-width: 300px;
}

.form label {
margin-bottom: 5px;
color: #fff;
}

.form input {
margin-bottom: 15px;
padding: 10px;
border: 1px solid #ced4da;
border-radius: 4px;
}

.form button {
width: 200px;
padding: 10px;
border: none;
border-radius: 4px;
background: linear-gradient(#000000 0%, #666666 100%);
color: #fff;
cursor: pointer;
}

.image {
flex: 1;
position: relative;
display: flex;
align-items: center;
justify-content: center;
overflow: hidden;
width: 50%;
height: 100vh;
}

.image::before {
content: '';
position: absolute;
width: 100%;
height: 100%;
background: linear-gradient(to top, rgba(1, 19, 36, 0.7), rgba(255, 255, 255, 0)); /* Gradiente do azul para o branco */
}

.image img {
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
object-fit: cover;
object-position: center;
}

.image-text {
position: absolute;
right: 50%;
top: 90%;
transform: translate(50%, -50%);
text-align: center;
color: #fff;
text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
width: 100%;
}

.image-text h2 {
align-items: center;
justify-content: center;
font-family: 'Times New Roman', Times, serif;
margin: 0;
font-size: 32px;
}

.image-text p {
font-size: 14px;
}