<div class='nested-form-wrapper' data-new-record="<%= f.object.new_record? %>">
    <%= f.label :numero %>
    <%= f.text_field :numero %>
    <button type="button" data-action="nested-form#remove"> Remover Celular</button>

    <%= f.hidden_field :_destroy %>
</div>