<div class="container">
    <div class="form">
        <h1>Bem-vindo à Ágora Kosmos</h1>
        <p>Para agilizar a abertura da sua conta, tenha um documento em mãos. Pedimos essa informação apenas por questões regulatórias.
        Não se preocupe, seus dados estão protegidos aqui na Ágora kosmos .</p>

        <div><br><br></div>

        <form (ngSubmit)="onSubmit()">
        <label for="nome"></label>
        <input type="text" id="nome" [(ngModel)]="nome" name="nome"  required placeholder="Nome Completo">

        <label for="senha"></label>
        <input type="password" id="senha" [(ngModel)]="senha" name="senha" required placeholder="Senha"/>

        <label for="cpf"></label>
        <input type="text" id="cpf" [(ngModel)]="cpf" name="cpf" required placeholder="CPF">

        <label for="nickname"></label>
        <input type="text" id="nickname" [(ngModel)]="nickname" name="nickname" required placeholder="Apelido">

        <label for="email"></label>
        <input type="text" id="email" [(ngModel)]="email" name="email" required placeholder="E-mail">

        <label for="celular"></label>
        <input type="text" id="celular" [(ngModel)]="celular" name="celular" required placeholder="DDD + Telefone">

        </form>
        <br>
        <button (click)="onSubmit()" type="submit">Avançar</button>
    </div>

    <div class="image">
        <img src="/assets/svg/cadastro1.jpg" alt="Background image">
        <div class="image-text">
            <h2>Investir ficou mais fácil!</h2>
            <br>
            <br>
            <p>Negocie ações, analise carteiras e acompanhe seu progresso com facilidade.</p>
        </div>
    </div>

</div>
