.chatbot-items {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 1000;
}

.chat {
  width: 20rem;
  height: 35rem;
  background-color: black;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

.chat-content {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
}

.message {
  margin-bottom: 10px;
}

.user-message {
  background-color: #007bff;
  padding: 10px;
  border-radius: 10px;
  text-align: right;
}

.bot-message {
  background-color: #017bff;
  padding: 10px;
  border-radius: 10px;
  text-align: left;
}

.chat-input {
  display: flex;
  justify-content: space-between;
}

.chat-input input {
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.chat-input button {
  width: 15%;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

img {
  width: 5rem;
  height: 5rem;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}
