<mat-card appearance="outlined" class="card-container" style="padding: 10px;">
  <mat-card-title-group>
    <mat-card-title >Meu cadastro</mat-card-title>
  </mat-card-title-group>
  <mat-card-content style="padding: auto;">
    <mat-form-field >
      <mat-label>Nome</mat-label>
      <input matInput [(ngModel)]="usuario.nome"/>
    </mat-form-field>

    <mat-form-field >
      <mat-label>CPF</mat-label>
      <input matInput [readonly]="true" [value]="usuario.cpf | cpf"/>
    </mat-form-field>

    <mat-form-field >
      <mat-label>Email</mat-label>
      <input matInput type="email" [readonly]="true" [value]="usuario.email"/>
    </mat-form-field>

    <mat-form-field >
      <mat-label>Telefone</mat-label>
      <input matInput [(ngModel)]="usuario.telefone"/>
    </mat-form-field>

    <mat-form-field >
      <mat-label>Profissão</mat-label>
      <input matInput [(ngModel)]="usuario.profissao"/>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Estado civil</mat-label>
      <mat-select [(ngModel)]="usuario.estadoCivil">
        <mat-option value="casado">Casado</mat-option>
        <mat-option value="solteiro">Solteiro</mat-option>
        <mat-option value="divorciado">Divorciado</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field >
      <mat-label>Endereço</mat-label>
      <input matInput [(ngModel)]="usuario.endereco"/>
    </mat-form-field>

    <mat-form-field>
      <mat-label>CEP</mat-label>
      <input matInput appCep [value]="'58.135-000'"/>
    </mat-form-field>

    <mat-form-field>
      <mat-label>UF</mat-label>
      <mat-select>
        <mat-option>JP</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Apelido</mat-label>
      <input matInput />
    </mat-form-field>

    <button mat-flat-button color="primary" (click)="atualizaCadastro()">Salvar</button>
  </mat-card-content>
</mat-card>

