.container {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 200px 1fr;
  height: 100vh;
  background: linear-gradient( #ffffff 0%, #41A2D9 45%, #0B60B0 100%);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  grid-column: 1 / span 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: linear-gradient(rgba(0, 0, 0, 0.8) 0%, rgba(102, 102, 102, 0.8) 100%);
}

.header h1 {
  margin: 0;
}

.nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.account {
  display: flex;
  align-items: center;
}

.fas {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-left: 10px;
}

.sidebar {
  background: linear-gradient(rgba(0, 0, 0, 0.8) 0%, rgba(102, 102, 102, 0.8) 100%);
  padding: 20px;
  margin-top: 10px;
  grid-row: 2;

}

.sidebar h2 {
  margin: 0;
}

.main-content {
  padding: 20px;
  grid-row: 2;
}

.filter select {
  width: 20%;
  padding: 10px;
  margin-bottom: 20px;
  background: linear-gradient(rgba(0, 0, 0, 0.8) 0%, rgba(102, 102, 102, 0.8) 100%);
  color: white;
  border: none;
  border-radius: 5px;
}

.news-item {
  background: linear-gradient(rgba(0, 0, 0, 0.8) 0%, rgba(102, 102, 102, 0.8) 100%);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.news-header {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.news-body {
  display: flex;
  justify-content: space-between;
}

.summary {
  flex: 2;
  margin-right: 20px;
}

.photo {
  flex: 1;
  background: linear-gradient(rgba(0, 0, 0, 0.8) 0%, rgba(102, 102, 102, 0.8) 100%);
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}

