<div class="container">

  <app-main-header></app-main-header>

  <app-side-mission-bar></app-side-mission-bar>

  <div class="main-content">
      <div class="table-container">
          <h1>Transações Pendentes</h1>
          <table>
              <thead>
                  <tr>
                      <th>Valor</th>
                      <th>Data de Transferência</th>
                      <th>Pagar</th>
                  </tr>
              </thead>

              <tbody *ngFor="let transaction of transactions">
                <td>{{ transaction.valor }}</td>
                <td>{{ transaction.dataCriacao }}</td>
                      <td><button mat-button class="fas fa-dollar-sign" (click)="openModalPayment(transaction)"></button></td>
              </tbody>
          </table>

      </div>
  </div>


</div>



